<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GYM Vuejs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div class="container mt-5" id="app">
        <h3>{{titulo}}</h3>

        <input type="text" class="form-control my-3" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
        <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

        <div class="mt-3" v-for="(item, index) of tareas">
            <div :class="['alert', item.estado ? 'alert-success' : 'alert-danger']" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {{index}} - {{item.nombre}} - {{item.estado}}
                    </div>
                    <div>
                        <button v-if="!item.estado" class="btn btn-success btn-sm" @click="editarTarea(index)">Ok</button>
                        <button class="btn btn-danger btn-sm" @click="eliminarTarea(index)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./app.js"></script>
</body>
</html>